postfix:
    module: Mail
    path: "/home/portugues/dalas_sqlobject/dalas/input_data/mail.log.sample"
    database: "sqlite:/:memory:"
    pipeline: [
          PostfixLog
        , AmavisLog
        , SpamAssassinLog
        , DSpamLog
   ]
